.wpzerospam-add-ip-container {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
}

.wpzerospam-add-ip-container-highlight {
  animation: wpzerospam-highlight 2s;
  animation-fill-mode: forwards;
}

@keyframes wpzerospam-highlight {
  0% {
    background: #fff;
  }

  100% {
    background: #FFF4DC;
  }
}


.wpzerospam-add-ip-container h2,
.wpzerospam-add-ip-field,
.wpzerospam-add-ip-submit {
  margin-left: 10px;
  margin-right: 10px;
}

.wpzerospam-add-ip-container h2 {
  margin-top: 0;
  width: calc(100% - 20px);
}

.wpzerospam-add-ip-container label {
  display: block;
  font-weight: bold;
}

.wpzerospam-add-ip-field {
  width: calc(100% / 5 - 20px);
}

.wpzerospam-add-ip-field input,
.wpzerospam-add-ip-field select {
  width: 100%;
}

#wpzerospam-add-ip-field-reason {
  flex-grow: 1;
}

#wpzerospam-add-ip-field-submit {
  margin-top: 10px;
  width: auto;
}
