.wpzerospam-blocked-ip-option {
  margin-bottom: 0.3rem;
}

.wpzerospam-setting-header,
.wpzerospam-blocked-ip-option {
  display: flex;
}

.wpzerospam-setting-header div,
.wpzerospam-input {
  width: calc(100% / 3);
}

.wpzerospam-setting-header div {
  margin-bottom: 0.3rem;
}

.wpzerospam-setting-header label {
  font-weight: bold;
}

.wpzerospam-setting-header small {
  color: #666;
  font-style: italic;
  display: block;
}

.wpzerospam-boxes {
  display: flex;
  flex-wrap: wrap;
  margin-left: -8px;
  margin-right: -8px;
}

.wpzerospam-box {
  background: #fff;
  border: 1px solid #ccd0d4;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
  margin-bottom: 16px;
  margin-left: 8px;
  margin-right: 8px;
  overflow: hidden;
  width: calc(100% - 18px);
}

.wpzerospam-box h3 {
  border-bottom: 1px solid #ccd0d4;
  font-size: 14px;
  line-height: 1.4;
  margin: 0;
}

.wpzerospam-box .inside,
.wpzerospam-box h3 {
  padding: 12px;
}

.wpzerospam-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.wpzerospam-list li {
  display: flex;
}

.wpzerospam-list-cell,
.wpzerospam-list .wpzerospam-country-flag {
  flex-shrink: 0;
}

.wpzerospam-list .wpzerospam-country-flag {
  margin-right: 8px;
  width: 16px;
}

.wpzerospam-list-cell {
  width: 130px;
}

.wpzerospam-list-cell-small {
  text-align: right;
  width: 30px;
}

.wpzerospam-action {
  flex-grow: 1;
  text-align: right;
}

@media (min-width: 768px) {
  .wpzerospam-box {
    width: calc(100% / 3 - 18px);
  }

  .wpzerospam-box-line-chart,
  .wpzerospam-box-countries-pie {
    width: calc(100% / 2 - 18px);
  }

  .wpzerospam-box-line-chart {
    width: calc((100% / 3) * 2 - 18px);
  }
}
