.wpzerospam-blocked-ip-option {
  margin-bottom: 0.3rem;
}

.wpzerospam-setting-header,
.wpzerospam-blocked-ip-option {
  display: flex;
}

.wpzerospam-setting-header div,
.wpzerospam-input {
  width: calc(100% / 3);
}

.wpzerospam-setting-header div {
  margin-bottom: 0.3rem;
}

.wpzerospam-setting-header label {
  font-weight: bold;
}

.wpzerospam-setting-header small {
  color: #666;
  font-style: italic;
  display: block;
}


/**
 * Info boxes
 */
.wpzerospam-boxes {
  display: flex;
  flex-wrap: wrap;
  margin-left: -8px;
  margin-right: -8px;
}

.wpzerospam-box {
  background: #fff;
  border: 1px solid #ccd0d4;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
  margin-bottom: 16px;
  margin-left: 8px;
  margin-right: 8px;
  overflow: hidden;
  width: calc(100% - 18px);
}

.wpzerospam-box h3 {
  border-bottom: 1px solid #ccd0d4;
  font-size: 14px;
  line-height: 1.4;
  margin: 0;
}

.wpzerospam-box .inside,
.wpzerospam-box h3 {
  padding: 12px;
}

@media (min-width: 1024px) {
  .wpzerospam-box {
    width: calc(100% / 2 - 18px);
  }

  .wpzerospam-box-map {
    width: calc(100% - 18px);
  }
}

@media (min-width: 1200px) {
  .wpzerospam-box {
    width: calc(100% / 3 - 18px);
  }

  .wpzerospam-box-line-chart {
    width: calc(100% - 18px);
  }

  .wpzerospam-box-map {
    width: calc((100% / 3) * 2 - 18px);
  }

  .wpzerospam-box-countries-pie {
    width: calc(100% / 2 - 18px);
  }
}



/**
 * List of IPs
 */
.wpzerospam-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.wpzerospam-list-item {
  display: flex;
}

.wpzerospam-list-cell-icon,
.wpzerospam-list-cell-ip,
.wpzerospam-list-cell-count,
.wpzerospam-list-cell-action {
  flex-grow: 0;
  flex-shrink: 0;
}

.wpzerospam-list-cell-icon {
  margin-right: 5px;
  width: 16px;
}

.wpzerospam-list-cell-ip {
  width: 120px;
}

.wpzerospam-list-cell-country {
  flex-grow: 1;
  font-size: 0.8rem;
}

.wpzerospam-list-cell-count,
.wpzerospam-list-cell-action {
  text-align: right;
}

.wpzerospam-list-cell-count {
  width: 50px;
}

.wpzerospam-list-cell-action {
  margin-left: 5px;
  width: 80px;
}

.wpzerospam-list-cell-na {
  color: #ccd0d4;
}
