.wpzerospam-debug-overlay {
	background: rgba(255, 255, 255, 0.9);
	bottom: 0;
	font-size: 13px;
	left: 0;
	max-height: 95%;
	max-width: 800px;
	overflow: auto;
	padding: 2em;
	position: fixed;
	width: 100%;
}

.wpzerospam-debug-item {
	display: flex;
}

.wpzerospam-debug-item-label {
	flex-shrink: 0;
	width: 16em;
}

.wpzerospam-debug-item-value {
	flex-grow: 1;
}
