name: Stale Repo Identifier

on:
  workflow_dispatch:
  schedule:
    - cron: '3 2 1 * *'

jobs:
  build:
    name: stale repo identifier
    runs-on: ubuntu-latest

    steps:
    - name: Run stale_repos tool
      uses: github/stale-repos@v1
      env:
        GH_TOKEN: ${{ secrets.GH_PAT_REPO }}
        ORGANIZATION: Zero Spam
        EXEMPT_TOPICS: "keep,template"
        INACTIVE_DAYS: 365

    - name: Create issue
      uses: peter-evans/create-issue-from-file@v5
      with:
        title: Stale repository report
        content-filepath: ./STALE_REPOS.md
        assignees: bmarshall511
        token: ${{ secrets.GH_PAT_REPO }}
